<!Doctype html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Django MTV</title>
        <link rel="stylesheet" href="{% static "css/mystyle.css" %}"/>
    </head>
    <body>
        <h1>Access Records</h1>
        <div class="djangTwo">
            {% if access_records %}
                <table>
                    <thead>
                        <th>Site Name</th>
                        <th>Date Accessed</th>
                    </thead>
                    <tbody>
                        {% for access in access_records %}
                            <tr>
                                <td>{{ access.name }}</td>
                                <td>{{ access.date }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>NO ACCESS RECORD FOUND!</p>
            {% endif %}
        </div>
    </body>
</html>